version: "3"
services:
  bolt_sample:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
      args:
        WORKDIR: /project
    volumes:
      - .:/project
      - ${USERPROFILE-~}/.ssh:/home/vscode/.ssh
    image: bolt_sample-image
    container_name: bolt_sample-container
    tty: true
    env_file: .env # shellスクリプト内でも環境変数として使用するため
